
$blue : #2997ff;


$black-level-0 : rgba(0, 0, 0, 0.99999988079071);
$black-level-1 : rgba(0, 0, 0, 0.9);
$black-level-2 : rgba(0, 0, 0, 0.8500000238418579);
$black-level-3 : rgba(0, 0, 0, 0.69999988079071);