

    .main-dabba{
        display: flex;
        justify-content: center;

        .complete-post{
           display: block;
           max-width: 900px;
           color:#000000;
           text-align:left;
           font-family:Inter;
           padding-left: 2vw;
           padding-right: 2vw;

           .blog-heading{
            
            width: auto;
            height: auto;
            font-size:47px;
            line-height:auto;
         }

            .author-and-date{
                padding-top: 10px;
                font-size:  21px;
                line-height:auto;
                font-weight: 300;
                font-style: italic;
                padding-bottom: 0.5vh;
                
            }

            .head-image{
                width: 100% ;
                background-color:#d9d9d9;
                scale :initial;

            }

            .introduction-paragraph{
                padding-top: 30px;
                font-size:18px;
                border-style:hidden;
                width: 100%;
                height: auto;
                font-weight: 400;
            }
            

            .chunks-container{
                max-width: 600px;
                margin-bottom: 30px;
            
                    .chunk-subheading
                    {
                        
                        font-size:30px;
                        padding-top: 20px;
                    }
            
                        .chunk-contenta{
                            
                            font-size:18px;
                            font-weight: 350;
                        }
            
                        .chunk-image
                        {
                            padding-top: 10px;
                            width: 100%;
                            
                            
                        }
            }
            
            

           }
    }

    @media screen 
    and (max-width: 612px) {
        .main-dabba{
         .blog-post{
              
    
               .blog-heading{
                font-size: 40px;
                line-height: normal;
                
             }
    
                .author-and-date{
                    font-size: 15px;
                    
                }
    
                .head-image{
                   
    
                }
    
                .introduction-paragraph{
                    
                    padding-right: 0px;
                }
    
               
    
               }
    }

    }
