.chunk-content{
    text-align:left;
    vertical-align:text-top;
    font-size:18px;
    font-family:"inter";
    line-height:auto;
    border-style:hidden;
    outline:none;
    width:600px;
    font-weight: 350;
    margin-top: 20px;
}

.chunk-subheading
{
    color:#000000;
    text-align:left;
    vertical-align:text-top;
    font-size:30px;
    font-family:Inter;
    line-height:auto;
    border-style:hidden;
    outline:none;
    width: 600px;;
    margin-top: 30px;
}

.chunk-image
{
    margin-top: 10px;
    background-color:#d9d9d9;
    height:330px;
    width:600px;
}

